.App {
  text-align: center;
}

body {
  background-color:lightgreen;
  margin: 0;
}

nav {
  margin: 0;
  justify-content: center;
  box-shadow: 0px 2px 5px yellowgreen;
}

.navbar--logo {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 0;
  margin-bottom: 30px;
}

.my--list {
  list-style-type: none;
  margin: 0;
  background-color: yellow;
  text-align: center;
  padding-top: 20px;
}

li {
  display: inline;
  font-size: 3.5em;
  font-family:Arial;
  line-height: 55px;
}

li a {
  text-decoration: none;
  color:black;
  padding: 20px 120px;
}

li a:hover {
  background-color: limegreen;
  color:black;
}

.user--grid {
  display:flex;
  flex-direction: row;
}
.user--cards {
  display: flex;
  flex-direction: column;
}